<!DOCTYPE html>
<html>
<head>
    <title>About College</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="chat-container">

    <div class="header">
        <img src="/static/logo.png" class="logo">
        <div>
            <h2> JNTUH UNIVERSITY COLLEGE OF ENGINEERING WANAPARTHY</h2>
            <p class="dept">About Our Institution</p>
            <div class="nav-links">
                <a href="/"><stronge>Home</stronge></a>
            </div>
        </div>
    </div>

    <div class="about-content">
        <h3>About the College</h3>
        <p> JNTUH UNIVERSITY COLLEGE OF ENGINEERING WANAPARTHY was established in 2022 with the objective of providing quality technical education and fostering innovation.</p>

        <h3>Vision</h3>
        <p>To become a center of excellence in engineering education and research.</p>

        <h3>Mission</h3>
        <ul>
            <li>Encourage research and innovation</li>
            <li>Develop ethical and professional engineers</li>
        </ul>

        <h3>Contact Details</h3>
        <p>principal-jntuhucew@jntuh.ac.in or visit https://ucew.jntuh.ac.in"</p>
    </div>
</div>

<footer>
    <p>© JNTUH UNIVERSITY COLLEGE OF ENGINEERING WANAPARTHY</p>
</footer>

</body>
</html>